
p.text {
  width: 75%; 
  margin: 1em auto; 
  font-size: 80%;
}

p.small.text { font-size: 60%; }
p.big.text { font-size: 110%; }

input[type="radio"] { vertical-align: middle; }

label.mediatype { 
  margin-left: 0.5em;
  margin-right: 1em;
  font-size: 80%;
}